.Experiences-container {
  background-color: #A6CFCF;
  margin-bottom: -60px;
  background-size: 100%;
}

.experiences-items {
  color: white;
  margin-left: 15%;
  width: 50%;
  padding: 20px;
  padding-bottom: 150px;
}

.experience-description {
  font-size: 20px;
  text-align: left;
  width: 600px;
  line-height: 1.5;
  font-family: 'Roboto Slab', serif;
  margin-bottom: 70px;
}

.experiences-title {
  color: white;
  font-size: 60px;
  margin-bottom: -50px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

.experiences-description {
  color: white;
  font-size: 20px;
  margin-right: auto;
  width:20%;
  line-height: 1.2;
  padding-left: 900px;
  font-family: 'Roboto Slab', serif;
}

.experiences-header {
  padding: 40px;
  text-align: right;
  margin-right: 20%;
}


.experiences-line {
  width: 500px;
  height: 140px;
  border-bottom: 5px solid white;
  position: absolute;
  margin-left: 15%;
}

.link{
  color: white;
  position: relative;
  text-decoration: none;
  margin-bottom: 30px;
  font-size: 25px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

.link:after{
  text-decoration: none;
  content: '';
  position: absolute;
  width: 0; height: 3px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: #fff;
  transition: width .2s ease;
  -webkit-transition: width .2s ease;
}

.link:hover:after{
  text-decoration: none;
  width: 100%;
  left: 0;
  background: #fff;
}
