.Contact-links {
  text-align: center;
  padding: 40px;
}

.Contact-links a {
  text-align: center;
  padding: 25px;
}


.in-touch-header {
  font-family: 'Roboto', sans-serif;
  color:#A6CFCF;
  font-weight: bold;
  font-size: 60px;
  text-align: center;
  margin-bottom: -10px;
}

.Contact {
  padding: 150px;
}

.Contact-email {
  font-family: 'Roboto Slab', serif;
  font-size: 24px;
  color: #7F7F7F;
  text-align: center;
}

#rectangle-email {
  width: 320px;
  height: 20px;
  background: #EAF4F4;
  z-index: -11;
  margin-bottom: -60px;
  margin-left: 600px;
}
