html, body {
  scroll-behavior: smooth;
}

.dot-navbar {
  position:absolute;
  right:0;
}

.dot {
  display:inline-block;
  width:20px;
  height:20px;
  background-color:#dddddd;
  border-radius:10px;
  z-index:999;
  content:'';
  color:transparent;
  font-size:14px;
  line-height:17px;
  vertical-align:middle;
  margin:5px 100px 10px 0;
  font-weight:300;
}
.dot:hover {
  color:white;
  background-color:#6d6d6d;
}
.dot span {
  margin:0px 0px 20px 15px;
  position:relative;
  top:0px;
  left:-100px;
}

nav {
  width:200px;
  height:200px;
  /*background-color:rgb(240,240,240);
  border:solid 1px rgb(220,220,220);*/
  padding:0 0px;
  position:fixed;
  top:50%;
  right:20px;
  transform: translate(0, -50%);
  z-index: 10000;
  text-align:right;
}

nav ul li a {
  text-decoration:none;
  font-size: 10px;
  font-family: 'Roboto', sans-serif;

}

nav ul {
  list-style-type:none;
  margin:0;
  padding:0;
}

.active {
  color: white;
  background-color:#6d6d6d;
  text-align:right;
}
